@import "tailwindcss";
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-slow-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 1.5s linear infinite;
}
.animate-spin-slow-reverse {
  animation: spin-slow-reverse 1.5s linear infinite;
}
/* src/index.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Hide scrollbar on all browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
}

/* Optional: underline animation for active tab */
@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.animate-slideIn {
  animation: slideIn 0.3s ease-in-out forwards;
}
